*{
    paddin: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    background-color: hsl(217, 54%, 11%);
}

.conteiner {
    width: 350px;
    height: 500px;
    background:  hsl(216, 50%, 16%);
    display: flex;
    margin: 0 auto;
    margin-top: 100px;
    border: 2px solid trasnparent;
    padding: 10px;
    border-radius: 25px;
}

#equilibrium {
    width: 350px;
    height: 280px;
    margin: 10px;
    border-radius: 5px;
}


#avatar {
    width: 60px;
    height: 50px;
    display: flex;
    margin-top: 430px;
    position: absolute;
    border-radius: 50px;    
    border: 2px solid white;

}

#icon {
    width: 20px;
    height: 20px;
    display: flex;
    margin-top: 350px;
    position: absolute;
    border-radius: 50px;    
    
}

#clock {
    width: 20px;
    height: 20px;
    display: flex;
    margin-top: 350px;
    margin-left: 200px;
    position: absolute;
    border-radius: 50px;    
    
}
